.header {
    text-align: center;
}

#tasksTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#addTaskResult {
    font-size: 28px;
}

.form-row {
    padding-bottom: 8px;
}

.form-label {
    display: inline-block;
    width: 78px;
}

.filter-row {
    padding-bottom: 8px;
}

.table-container {
    padding-right: 12px;
    width: 49%;
    float: left;
}

.details-container {
    width: 49%;
    float: left;
}

.error-message {
    background-color: red;
    padding: 4px 0;
    text-align: center;
    border-radius: 100px;
}
#errors {
    color: white;
}

.hidden {
    display: none;
}

.same-day {
    background-color: orange;
}

.next-day {
    background-color: yellow
}

#addTask {
    margin-bottom: 6px;
}

.description-column {
    max-width: 120px;
    word-wrap: break-word;
}